.photo-grid__frame{
    display:grid;
    justify-content:center;
    margin: 80px auto 0 auto;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 94%;
}

@media screen and (min-width: 680px) {
    .photo-grid__frame{
        width: 94%;
        gap: 14px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid__frame{
        gap: 16px;
        width: min(928px,90%);
        width: 928px;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid__frame{
        width: 1184px; 
        grid-template-columns: repeat(4,284px);
    }
}