.photo-grid{
    margin-top:64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

@media screen and (min-width: 680px) {
    .photo-grid{
        margin-top:88px;
    }
}

@media screen and (min-width: 1023px) {
    .photo-grid{
        margin-top:92px;
    }
}