.places{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media screen and (min-width: 680px) {
    .places{
        margin-top:15px;
    }
}

@media screen and (min-width: 1023px) {
    .places{
        margin-top:12px;
    }
}
