.cover__subtitle{
    color: white;
    font-size: 14px;
    list-style: 1.2;
    text-align: center;
    margin: 16px auto 0 auto;
    width: 95%;
    text-decoration: none;
    z-index: 2;
}


@media screen and (min-width: 768px) {
    .cover__subtitle{
        margin-top: 32px;
        font-size: 18px;
    }
}