.places__frame{
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 680px) {
    .places__frame{
        width: 94%;
    }
}

@media screen and (min-width: 1024px) {
    .places__frame{
        width: min(928px,90%);
    }
}

@media screen and (min-width: 1280px) {
    .places__frame{
        width: 1184px;
    }
}