.header__frame{
    display: flex;
    background:#2A2C2F;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin:16px auto 0 auto;
   
    width: min(1184px,90%);
    min-width: 288px;
    max-width: 1184px;
}

@media screen and (min-width: 320px) {
    .header__frame{
        margin-top: min(28px,5vw);
    }
}
