.footer__link{
    margin-top:32px;
    color:white;
    font-size: 24px;
    margin-left:16px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .footer__link{
        font-size: 16px;
         margin-left:18px; 
         margin-top:60px;
    }
}

