.footer__links{
    display:flex;
    flex-direction: column;
    color:white;
    font-size: 24px;
    justify-content:space-between;
}

@media screen and (min-width: 768px) {
    .footer__links{
        flex-direction: row;
    }
}