.footer__copyright{
    margin-top:48px;
    margin-bottom:24px;
  
    color:white;
    font-size: 14px;
    min-width: 170px;
}

@media screen and (min-width: 768px) {
    .footer__copyright{
        margin-top: 0px;
        margin-right:48px;
        align-self: end;
        justify-self: end;
    }
}