.cover__background{
    width: 320px;
    height: 200px;
    background-image: url('../../../images/baycal.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-decoration: none;
    min-width: 320px;
}

@media screen and (min-width: 320px) {
    .cover__background{
        width:100%;
        height: 62.5vw;
    }
}

@media screen and (min-width: 1184px) {
    .cover__background{
        width: 1184px;
        height: 740px;
    }
}