.cover__background{
    background-image: url('../../../images/baycal.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-decoration: none;
    min-width: 300px;
    max-width: 1184px;
    max-height: 740px;
    min-height: 62.5vw;

    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cover__background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  
  .cover__background:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
  }

  .cover__background:hover {
    opacity: 1;
  }