.cover__title{
    color:white;
    font-size: 32px;
    line-height: 1.1;
    width: min(520px,72%);
    text-align: center;
    margin: 0 auto;
    z-index: 3;
}

@media screen and (min-width: 320px) {
    .cover__title{
        font-size: min(72px, 10vw);
    }
}