.place{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  min-width: 300px;
  row-gap: 32px;
  column-gap: 50px;
 
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 680px) {
    .place{
        margin-top: 73px;
        row-gap: 48px;
        column-gap: 28px;
        width: 94%;
        grid-template-columns: minmax(320px,1fr) 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .place{
        margin-top: 80px;
        width: min(928px,90%);
        column-gap: 32px;
        grid-template-columns: 440px 456px;
    }
}

@media screen and (min-width: 1280px) {
    .place{
        width: 1184px;
        column-gap: 40px;
        grid-template-columns: 460px 484px;
    }
}