.intro__title{
    color:white;
    font-size: 32px;
    line-height:1.1;
    /* padding-right:  20vw; */
    margin: 0;
}

@media screen and (min-width: 320px) {
    .intro__title{
        font-size: min(54px,10vw);
        padding-right:  0;
    }
}

@media screen and (min-width: 768px) {
    .intro__title{
        padding-right:  0;
    }
}